# ============================================
# CONFIGURACIÓN DE SALUDYA BACKEND
# ============================================

# Puerto del servidor
PORT=3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://root:T9hRdDaRfQxSAr0z@cluster0.xdyv843.mongodb.net/saludya

# JWT Secreta
JWT_SECRET=tu_clave_secreta_super_segura_saludYa_2026_orale

# JWT Expiracion
JWT_EXPIRES_IN=2h

# Configuracion de Email de Nodemailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=rhbon.08@gmail.com
EMAIL_PASS=kige niuh jual hbhz

# Frontend URL para CORS
FRONTEND_URL=http://localhost:4200
